<footer class="site-footer">
    {{!-- you can remove it --}}
        <section class="poweredby ghost">
           <!-- Proudly published with <a href="https://ghost.org">Ghost</a> -->
        </section>
        <section class="poweredby px-themes">
        
        </section>
    {{!-- remove it --}}
</footer>
